h1, h3, p.center {
	text-align: center;
}

main {
	min-height: calc(100vh - 67.5px - 66.5px - 18.72px);
}

a:any-link {
	color: inherit;
	text-decoration: none;
}

p.normal {
	margin-left: 20px;
	margin-right: 20px;
}

.header-button {
	background-color: transparent;
	border: none;
	transition: .2s;
	width: 130px;
	color: rgb(30,30,20);
}

.header-button:hover, a:hover {
	color: rgb(200,80,100);
	transition: .2s;
	transform: translateY(-3px);
}

#account-button:hover .account-svg circle{
  stroke: rgb(200, 80, 100);
  transition: .2s;
}

.catering-items {
	display: none;
	position: absolute;
	background-color: rgb(38,104,20);
}

.catering-item {
	width: auto;
}

.catering-item .header-button {
	width: 100%;
}

.catering-dropdown:hover .catering-items {
	display: block;
}

body {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.header-button-text{
	font-size: 20px;
	text-align: center;
}

#text {
	border: solid black 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#header-flex {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(38,104,20);
	justify-content: space-between;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(/phswebmaster2025/assets/GreenHeaderBackground.jpg);
	width: 100%;
	margin-bottom: 5px;
	outline: 5px solid rgb(150,40,50);
}

#logo {
	width: 100px;
	padding-left: 50px;
}

#header-left-buttons {
	display: flex;
	width: 350px;
	justify-content: space-between;
	padding-right: 100px;
}

#account-button-icon {
	height: 25px;
}

#logo-png {
	height: 60px;
	padding-top: 2.5px;
}

.flex-container {
	display: flex;
	flex: 1;
}

.image-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.scrolling-window {
	flex: 1;
	overflow-y: auto;
	padding: 20px;
	background-color: #ffffff;
}

.content {
	line-height: 1;
}

.tabs {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tabs button:hover {
	background-color: #ddd;
}

.tabs button.active {
	background-color: #ccc;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
    flex-direction: column;
    gap: 10px;
}

.item {
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-between;
	gap: 10px;
}

.item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.item p {
    margin: 0;
}

#name {
    flex: 1.5;
    text-align: left;
}

#price, button {
    flex: 1;
    text-align: center;
}

#shared-footer {
	background-color: rgb(54, 119, 36);
  	overflow: hidden;
  	bottom: 0;
  	width: 100%;
}

#footer-left {
	padding-left: 50px;
	padding-top: 25px;
}

#footer-flex {
	display: flex;
	flex-wrap: nowrap;
	background-color: rgb(54, 119, 36);
	justify-content: space-between;
	font-size: 12.5px;
}

#footer-right {
	padding-right: 50px;
	text-align: right;
}

.link {
	color: blue;
}

.main-first-gallery {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(6,105,64,1) 30%, rgba(7,135,101,1) 40%, rgba(7,135,101,1) 60%, rgba(6,105,64,1) 70%, rgba(0,0,0,1) 100%);
  margin-bottom: 0px;
}

.left-gallery{
  position: relative;
  width: 390px;
  height: 650px;
  overflow: hidden;
  box-shadow: 0, 4px, 8px, rgba(0,0,0,0.1);
}

.right-gallery{
  position: relative;
  width: 390px;
  height: 650px;
  overflow: hidden;
  box-shadow: 0, 4px, 8px, rgba(0,0,0,0.1);
}

.left-image-track{
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: scroll-up 35s linear infinite;
}

.right-image-track{
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: scroll-down 35s linear infinite;
}

.left-image-track img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;

}

.right-image-track img{
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.gallery-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 350px;
}

.main-text1{
	height: 50px;
	font-size: 50px;
	margin-top: 130px;
	margin-bottom: 0px;
}

.main-text2{
	height: 50px;
	font-size: 30px;
}

.main-menu-button{
	height: 50px;
	width: 200px;
	background-color:rgb(200, 80, 100);
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
	border: transparent;
}

.main-menu-button:hover{
	background-color:rgb(180, 49, 60);
	transition: .2s;
}

.main-gallery-text{
	display: flex;
	flex-direction: column;
}

.about-us-panel{
	width: 100%;
	height: 420px;
	background-color: rgb(197, 255, 194);
	margin: 0px;
	padding: 0px;
	border: 0px;
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
}

.about-us-header{
	font-size: 25px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.about-us-welcome{
	margin-top: 0px;
	font-size: 50px;
	margin-bottom: 0px;
	color: rgb(180, 49, 60);
}

.welcome-logo{
	margin-right: 200px;
}

.about-us-text{
	display: flex;
	flex-direction: column;
	margin-left: 200px;
	margin-top: 70px;
	text-align: center;
}

.about-us-body{
	font-size: 18px;
	margin-top: 0px;
}

.learn-more-button{
	height: 50px;
	width: 200px;
	background-color:rgb(200, 80, 100);
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
	border: transparent;
	margin-left: 34%;
}

.learn-more-button:hover{
	background-color:rgb(180, 49, 60);
	transition: .2s;
}


@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
